<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadDataOpen"
            android:label="LoadDataOpen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project.LOADDATAOPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventClass"
            android:label="event date"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project.EVENTCLASS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateScheduale"
            android:label="Create Scheduale"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project.CS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenScheduale"
            android:label="Open Scheduale"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.project.OS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>